In [1]:
import numpy as np
import pandas as pd

In [2]:
data = pd.read_csv(r'C:\Users\Ashwani Raj\Desktop\Previous 12 months of Cyclistic trip data\.csv files\202101-divvy-tripdata.csv')

In [3]:
df = pd.DataFrame(data)
df.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,E19E6F1B8D4C42ED,electric_bike,2021-01-23 16:14:19,2021-01-23 16:24:44,California Ave & Cortez St,17660,NaN,NaN,41.900341,-87.696743,41.89,-87.72,member
1,DC88F20C2C55F27F,electric_bike,2021-01-27 18:43:08,2021-01-27 18:47:12,California Ave & Cortez St,17660,NaN,NaN,41.900333,-87.696707,41.90,-87.69,member
2,EC45C94683FE3F27,electric_bike,2021-01-21 22:35:54,2021-01-21 22:37:14,California Ave & Cortez St,17660,NaN,NaN,41.900313,-87.696643,41.90,-87.70,member
3,4FA453A75AE377DB,electric_bike,2021-01-07 13:31:13,2021-01-07 13:42:55,California Ave & Cortez St,17660,NaN,NaN,41.900399,-87.696662,41.92,-87.69,member
4,BE5E8EB4E7263A0B,electric_bike,2021-01-23 02:24:02,2021-01-23 02:24:45,California Ave & Cortez St,17660,NaN,NaN,41.900326,-87.696697,41.90,-87.70,casual

In [4]:
df.iloc[:,1].unique()

array(['electric_bike', 'classic_bike', 'docked_bike'], dtype=object)

In [5]:
df.iloc[:,2:4]

                started_at             ended_at
0      2021-01-23 16:14:19  2021-01-23 16:24:44
1      2021-01-27 18:43:08  2021-01-27 18:47:12
2      2021-01-21 22:35:54  2021-01-21 22:37:14
3      2021-01-07 13:31:13  2021-01-07 13:42:55
4      2021-01-23 02:24:02  2021-01-23 02:24:45
...                    ...                  ...
96829  2021-01-19 19:03:17  2021-01-19 20:10:03
96830  2021-01-05 18:42:27  2021-01-05 19:33:33
96831  2021-01-07 17:59:47  2021-01-07 19:34:03
96832  2021-01-06 19:20:31  2021-01-06 20:41:57
96833  2021-01-17 13:20:02  2021-01-17 14:17:00

[96834 rows x 2 columns]

In [6]:
df.isnull().sum()

ride_id                   0
rideable_type             0
started_at                0
ended_at                  0
start_station_name     8625
start_station_id       8625
end_station_name      10277
end_station_id        10277
start_lat                 0
start_lng                 0
end_lat                 103
end_lng                 103
member_casual             0
dtype: int64

In [7]:
len(df.columns.values)

13

In [12]:
df['started_at'] = pd.to_datetime(df['started_at'], format='%Y-%m-%d %H:%M:%S')
df['ended_at'] = pd.to_datetime(df['ended_at'], format='%Y-%m-%d %H:%M:%S')

In [11]:
print(df['started_at'].dtype)
print(df['started_at'])

datetime64[ns]
0       2021-01-23 16:14:19
1       2021-01-27 18:43:08
2       2021-01-21 22:35:54
3       2021-01-07 13:31:13
4       2021-01-23 02:24:02
                ...
96829   2021-01-19 19:03:17
96830   2021-01-05 18:42:27
96831   2021-01-07 17:59:47
96832   2021-01-06 19:20:31
96833   2021-01-17 13:20:02
Name: started_at, Length: 96834, dtype: datetime64[ns]

In [15]:
df = df.assign(ride_length=df['ended_at'] - df['started_at'])

# Display the DataFrame
print(df)

                ride_id  rideable_type          started_at  \
0      E19E6F1B8D4C42ED  electric_bike 2021-01-23 16:14:19
1      DC88F20C2C55F27F  electric_bike 2021-01-27 18:43:08
2      EC45C94683FE3F27  electric_bike 2021-01-21 22:35:54
3      4FA453A75AE377DB  electric_bike 2021-01-07 13:31:13
4      BE5E8EB4E7263A0B  electric_bike 2021-01-23 02:24:02
...                 ...            ...                 ...
96829  B1A5336E1412D8BF   classic_bike 2021-01-19 19:03:17
96830  57EA5CB7DCD75F90   classic_bike 2021-01-05 18:42:27
96831  815B319A078CC984   classic_bike 2021-01-07 17:59:47
96832  6DB04151565CEE63   classic_bike 2021-01-06 19:20:31
96833  8008C9C998083A1A    docked_bike 2021-01-17 13:20:02

                 ended_at               start_station_name start_station_id  \
0     2021-01-23 16:24:44       California Ave & Cortez St            17660
1     2021-01-27 18:47:12       California Ave & Cortez St            17660
2     2021-01-21 22:37:14       California Ave & Cortez St            17660
3     2021-01-07 13:42:55       California Ave & Cortez St            17660
4     2021-01-23 02:24:45       California Ave & Cortez St            17660
...                   ...                              ...              ...
96829 2021-01-19 20:10:03        Lake Shore Dr & Monroe St            13300
96830 2021-01-05 19:33:33        Lake Shore Dr & Monroe St            13300
96831 2021-01-07 19:34:03  Lakefront Trail & Bryn Mawr Ave     KA1504000152
96832 2021-01-06 20:41:57  Lakefront Trail & Bryn Mawr Ave     KA1504000152
96833 2021-01-17 14:17:00        Lake Shore Dr & Monroe St            13300

                      end_station_name end_station_id  start_lat  start_lng  \
0                                  NaN            NaN  41.900341 -87.696743
1                                  NaN            NaN  41.900333 -87.696707
2                                  NaN            NaN  41.900313 -87.696643
3                                  NaN            NaN  41.900399 -87.696662
4                                  NaN            NaN  41.900326 -87.696697
...                                ...            ...        ...        ...
96829  Lakefront Trail & Bryn Mawr Ave   KA1504000152  41.880958 -87.616743
96830  Lakefront Trail & Bryn Mawr Ave   KA1504000152  41.880958 -87.616743
96831  Lakefront Trail & Bryn Mawr Ave   KA1504000152  41.984037 -87.652310
96832  Lakefront Trail & Bryn Mawr Ave   KA1504000152  41.984037 -87.652310
96833        Lake Shore Dr & Monroe St          13300  41.880958 -87.616743

         end_lat    end_lng member_casual     ride_length
0      41.890000 -87.720000        member 0 days 00:10:25
1      41.900000 -87.690000        member 0 days 00:04:04
2      41.900000 -87.700000        member 0 days 00:01:20
3      41.920000 -87.690000        member 0 days 00:11:42
4      41.900000 -87.700000        casual 0 days 00:00:43
...          ...        ...           ...             ...
96829  41.984037 -87.652310        member 0 days 01:06:46
96830  41.984037 -87.652310        member 0 days 00:51:06
96831  41.984037 -87.652310        member 0 days 01:34:16
96832  41.984037 -87.652310        member 0 days 01:21:26
96833  41.880958 -87.616743        casual 0 days 00:56:58

[96834 rows x 14 columns]

In [31]:
timedelta = pd.Timedelta('0 days 00:00:00')
df_filtered = df.loc[df['ride_length'] < timedelta]
df_filtered

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual,ride_length
6592,FC1EFEF4475D7F56,classic_bike,2021-01-09 15:42:45,2021-01-09 15:41:02,Monticello Ave & Irving Park Rd,KA1504000139,NaN,NaN,41.954005,-87.719128,NaN,NaN,member,-1 days +23:58:17
35752,B1235D38EB2F8A9E,electric_bike,2021-01-06 18:33:12,2021-01-06 18:31:07,Daley Center Plaza,TA1306000010,NaN,NaN,41.883944,-87.629307,41.88,-87.63,member,-1 days +23:57:55

In [18]:
# Get a summary of the 'column1' column
summary = df['ride_length'].describe()

# Print the mean
print(summary)

count                        96834
mean     0 days 00:15:16.145940475
std      0 days 01:23:56.346036055
min              -1 days +23:57:55
25%                0 days 00:05:33
50%                0 days 00:09:18
75%                0 days 00:16:19
max               13 days 18:25:55
Name: ride_length, dtype: object